.transparent {
  background-color: transparent;
}

scrolledwindow.flat-headerbar scrollbar.vertical {
  margin-top: 47px;
}

scrolledwindow.flat-headerbar scrollbar.vertical:not(.overlay-indicator) {
  border-top: 1px solid @borders;
}

.tile {
  padding: 0px;
  border-radius: 12px;
}

.smallcover {
  background-color: @theme_base_color;
}

.toolbarcontroller {
  border-top: 1px solid @borders;
}

.featured-carousel {
  border-radius: 8px;
  color: white;
}

.featured-carousel.dark-foreground {
  color: rgba(0, 0, 0, .75);
 }

.carousel-banner {
  padding: 0px;
}

.carousel-banner-title {
  transition: color 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.carousel-button {
  padding: 8px;
  min-width: 30px;
  min-height: 30px;
  margin: 6px;
}

.mini-controller {
  background-image: url('resource://de/haeckerfelix/Shortwave/images/wood.png');
  background-size: cover;
  color: black;
}

/* Based on the styling from Pebbles by Subhadeep Jasu */
/* https://github.com/SubhadeepJasu/pebbles/blob/e8159b8e73f2ceb3597c8fe37fe338ba1fb6f50c/data/Application.css */
.mini-controller-display {
  background-image: linear-gradient(#b6bfb6, #dae6da);
  border-radius: 12px;
  border: 1px solid alpha(black, 1);
  padding-top: 3px;
  box-shadow: inset 0px 1px 8px 0px alpha(black, 0.5),
              inset 0px 0px 2px 1px alpha(black, 0.5),
              0px 1px 0px 0px alpha(white, 0.3),
              0px -1px 0px 0px alpha(black, 0.15);
}

.mini-controller-button,
.mini-controller-volume-button > button {
  background-image: url('resource://de/haeckerfelix/Shortwave/images/metal.png');
  background-size: cover;
  color: black;
  border: 1px solid alpha(black, 1);
}

.mini-controller-volume-button > button {
  border-radius: 100%;
  padding: 0;
  min-width: 34px;
  min-height: 34px;
}

.station-dialog headerbar {
  transition: 200ms ease-out;
  transition-property: box-shadow, background-color;
}

.station-dialog headerbar.hidden {
  background-color: transparent;
  box-shadow: inset 0 -1px transparent;
}

.map-pin {
  color: black;
}

.local-notice list {
  background: alpha(@accent_bg_color, .3);
  font-weight: bold;
  box-shadow: none;
}
